@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@media screen and (min-width: 992px) {
    .navbar .container-fluid,
    .navbar-expand-lg .navbar-collapse,
    .navbar-expand-lg .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar {
      width: 100%;
      height: 100vh;
      align-items: flex-start;
    }
    .navbar-brand {
      margin-left: 0.5rem;
    }
    
  }
  .social{
    margin-top: 99% !important;
  }

  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
  }
  .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  body{
    background-color: black;
    overflow-x: hidden;
  }
 /*==================     fsd */
.H-1{
    font-family: 'Orbitron', sans-serif;
    letter-spacing:0.2cap;
    font-weight: 600;
}
.H-1:hover{
    color: red !important;
}


/* nav h end */

li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px;
  
  }
  
  /* li > a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    position: relative;
  } */
  
  li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
  }
  
  li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: red;
  }
  /* i am start */
  .iam{
    color: rgb(241, 33, 33);
      font-size: 55px;
      padding: 15px;
      font-family: sans-serif;
  }
  .text{
    color: rgb(161, 42, 42);
      border-right: 2px solid rgb(143, 22, 22);
      font-size: 55px;
      font-family: sans-serif;
      color: rgb(192, 23, 23) 23;
      padding: 15px;
  }
  .I-Con{
    color: red !important;
    font-size: 20px;
  }
  /*============== projects page start============ */
  .three-box{
    background-color: #222222;
    color: #fff !important;
    padding: 20px;
    border-radius: 12px;
  }
  .three-box:hover{
    background-color: rgb(190, 202, 198);
    color: rgb(255, 127, 244);
  }
  .three-box .a-color:hover{
    color: rgb(121, 115, 120);
  }

  .three_icon{
    font-size: 40px;
  }
  .a-color{
    color: #fff;
    text-decoration: none !important;
    
  }
  .three-text{
    text-align: justify;
    text-decoration: none !important;
  }
  /* ========four start =========*/
   /* no circle */
.flickity-button {
    
  background: transparent;
}
.flickity-button:hover {
    
  background: transparent;
  color: black;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
.flickity-button-icon {
  fill: white;
}
.flickity-button:disabled {
  display: none;
}
    
.carousel {
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
  max-width: 680px;
  height: 400px;
  border-radius: 20%;
}
.carousel-cell {
  margin-top: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: right;
  max-width: 201px;
  width: 100%;
  height: 335px;
  border-radius: 15px;
  counter-increment: carousel-cell;
  transition: all .3s ease;
  opacity: 0.3;
  background: #b9b9b9;
  filter: blur(6px);
  
}
  .carousel-cell.is-selected {
    filter: blur(0);
    opacity: 1;
    background: white ;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
    
    /* name */
.carousel-cell .n {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  color:black;
  counter-increment: carousel-cell;
}
    
    /* button */
.carousel-cell .b {
  cursor: pointer;
  margin: auto;
  width: 180px;
  padding: 1px;
  background: green;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: white;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all .3s ease;
}

 /* picture */
.carousel-cell .p {
  border-radius: 15px;
  width: 201px;
  height: 250px;
  counter-increment: carousel-cell;
}
    
.carousel-cell .b:hover {
  background: #00e509;
  transform: scale(1.03);
  font-size: 16px;
}
    
.carousel-cell .b:active {
  background: white;
  color: green;
  transform: scale(0.9);
  font-size: 16px;
}
    
.carousel-cell .b-selected {
  cursor: pointer;
  margin: auto;
  width: 180px;
  padding: 1px;
  background: white;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: green;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all .3s ease;
}
    /* ==============  end =============== */
    .nav-item.active a{
     color: red !important;
     text-decoration: underline 2px solid red;
    }
    